# dependencies
node_modules/

# compiled output
dist/
build/
/apps/api/static/
*.tsbuildinfo

# logs
logs/
*.log
pnpm-debug.log*

# local documentation
/CI-CD.md

# Jest coverage reports
coverage/

# Sonar scanner working directory
.scannerwork/

# env
.env
.env.sonarqube

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
